{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Вхід / Login</h2>

            <form method="post" novalidate>
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_username" class="form-label">Ім’я користувача / Username</label>
                    {{ form.username }}
                </div>


                <div class="mb-3">
                    <label for="id_password" class="form-label">Пароль / Password</label>
                    {{ form.password }}
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Увійти / Login</button>
                </div>
            </form>

            <p class="mt-3 text-center">
                Ще не маєте акаунту? <a href="{% url 'register' %}">Зареєструватися / Register</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}