<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Головна</a></li>
            <li>
                {% if user.is_authenticated %}
                    Hello, {{user.username}} <form action="{% url 'logout' %}" method="post"> {%csrf_token%}<input type="submit" value="Log out"> </form>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>

            <li><a></a></li>

        </ul>
    </nav>
    {% block content %}

    {% endblock %}

</body>
</html>