{% extends 'base.html' %}

{% block title %}Деталі завдання{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h2 class="card-title">{{ task.title }}</h2>
        <p class="card-text">{{ task.description }}</p>
        <p>Пріоритет: {{ task.get_priority_display }}</p>
        <p>Виконати до: {{ task.due_to }}</p>

        <a class="btn btn-dark" href="{% url 'task-edit' task.pk %}">Редагувати</a>
        <a class="btn btn-dark" href="{% url 'task-delete' task.pk %}">Видалити</a>
    </div>
</div>

<hr>
<h4>Коментарі:</h4>
<ul class="list-group">
    {% for comment in task.coment_set.all %}
        <li class="list-group-item">
            <strong>{{ comment.user }}</strong>: {{ comment.content }}
            {% if comment.coment_pic %}
                <p><img src="{{comment.coment_pic.url }}" width="20%"></p>
            {% endif %}
            <small class="text-muted">{{ comment.created_at }}</small>
        </li>
    {% empty %}
        <li class="list-group-item">Коментарів поки що немає.</li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
<hr>
<h4>Додати коментар:</h4>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Надіслати" class="btn btn-dark">
</form>
{% else %}
<p>Щоб залишити коментар, <a href="{% url 'login' %}">увійдіть</a>.</p>
{% endif %}
{% endblock %}
