{% extends 'base.html'%}

{% block content %}
<div class="main-wrapper">
    <div class="task-block">
        <h2 class="mb-4">Усі завдання</h2>
        <ul class="list-unstyled">
            {% for task in task_list %}
                <li class="task-item mb-3 p-3 rounded border">
                    <a class="task-link" href="{% url 'task-detail' task.id %}">
                        {{ task.title }}
                    </a>
                    <span class="badge ms-2 {% if task.priority == 'high' %} text-bg-danger {% elif task.priority == 'min' %} text-bg-success {% else %} text-bg-secondary {% endif %} ">
                        {{ task.get_priority_display }}
                    </span>
                </li>
            {% empty %}
                <li class="text-center">Немає завдань.</li>
            {% endfor %}
        </ul>
        <p class="text-center mt-4"><a class="create-task-btn  btn btn-dark" href="{% url 'task-create' %}">Створити нове завдання</a></p>
    </div>
</div>
{% endblock %}