body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.task-block {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
    width: 400px;
}

.task-item a {
    text-decoration: none;
    color: brown;
    font-size: 20px;
    font-weight: bold;
}

.task-item a:hover {
    color: rgb(228, 173, 173);
}

.create-task-btn {
    margin-left: 25%;
}


.task-desc{
    margin-left: 25%;
}

.comments-list{
    margin-left: 30%;
    list-style-type: none;
}

.comments-list li{
    border: 1px solid brown;
    width: 35%;
    margin: 10px;
    border-radius: 15px;
    padding: 5px;
}

.comments-date{
    text-align: right;
    font-size:small ;
    color: rgb(67, 65, 65);
}

.comments-text{
   
}